/* common styles */
*{
  font-family: "Open Sans", sans-serif;
  font-family: "Lato", sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 15px 35px;
    background: #FD6E0A;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* nav styles */

/* header {
    margin: 30px 150px;
} */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
/* ul li {
    display: inline-block;
    list-style: none;
    padding-left: 40px;
} */